<!-- //////////// -->
<!-- All of the input forms in the sell-book page -->
<!-- //////////// -->

<div>
    <h1 style="text-align:center;">
        Sell book</h1>
    <hr>
    <form (ngSubmit)="onSubmit(f)" #f="ngForm" ngNativeValidate>
        
        <div class="form-group">
            <label for="title">Book title</label>
            <input
                type="text"
                class="form-control"
                placeholder="Book title"
                [ngModel]="book?.title"
                name="title"
                required>
        </div>

        <div class="form-group">
            <label for="Author">Book author</label>
            <input
                type="text"
                class="form-control" 
                placeholder="Book author"
                [ngModel]="book?.author"
                name="author"
                required>
        </div>

        <div class="form-group">
            <label for="publish">Year of publish</label>
            <input 
                type="text" 
                class="form-control" 
                placeholder="Year of publish"
                [ngModel]="book?.publishYear"
                name="publish"
                required>
        </div>

        <div class="form-group">
            <label for="description">Description of the book</label>
            <textarea 
                name="description" 
                cols="30" 
                rows="10" 
                class="form-control"
                [ngModel]="book?.description"
                required></textarea>
        </div>

        <hr>

        <div class="form-group">
            <label for="price">Set price</label>
            <input 
                type="text" 
                class="form-control" 
                placeholder="Your price SEK"
                [ngModel]="book?.price"
                name="price"
                required>
        </div>
        <button class="btn btn-success" type="submit">Sell book</button>
    </form>
</div>