<!-- //////// -->
<!-- This is the book listing view -->
<!-- //////// -->
<article class="panel panel-default">
    <div class="panel-body">
        <label for="title">Title</label>
        {{ inputBook.title }}
        <br>
        <label for="author">Author</label>
        {{ inputBook.author }}
        <br>
        <label for="publishYear">Year of publish</label>
        {{ inputBook.publishYear }}
        <br>
        <label for="price">Price</label>
        {{ inputBook.price  + ' kr'}}
        <br>
        <label for="description">Description</label>
        {{ inputBook.description }}

        <div>
            <a (click)="onEdit()">Edit</a>
            <a (click)="onRemove()">Remove</a>
        </div>
    </div>
</article>